<div class="modal pane">
	<ion-header-bar>	
		<h1 class="title">О приложении</h1>
	</ion-header-bar>
	<ion-content>
		<div class="content">
			<div class="row">
				<div class="col">	
					<div class="list card">
					  <a href="" class="item item-icon-left">
					    <i class="icon ion-ionic"></i>
					    Developer: Sorfal
					    </a>

					  <a href="" class="item item-icon-left">
					    <i class="icon ion-at"></i>
					    Email: sorfal.web@gmail.com
					  </a>
					</div>			
				</div>
			</div>
			<div class="row">
				<div class="col">
			      	<button ng-click="closeModal()" class="button button-block">Закрыть</button>
			    </div>
			</div>			
		</div>
	</ion-content>
</div>

		

