<ion-view cache-view="false" view-title="Вооружение Российской Армии">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="list">
                    <a class="item" ui-sref="app.tech" ng-href="#">
                        Каталог
                    </a>
                    <a class="item" ng-click="openModal()" ng-href="#">
                        О приложении
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
